/* Selection color */
::selection {
    background-color: #028090;
    color: white;
}

/* Remove outer padding */
html, body{
    background-color: rgb(28, 27, 25);
    margin: 0;
}

/* Heading styles */
h1, h2, h3, h4, h5, h6{
    color: rgb(224, 44, 109);
    font-family: "Libre Baskerville", Montserrat, serif;
}

/* Scaled font sizes */
h1{font-size: 2em;}
h2{font-size: 1.7em;}
h3{font-size: 1.4em;}
h3{font-size: 1.3em;}
h4{font-size: 1.3em;}
h5{font-size: 1.3em;}

h1 > .subtitle{
    font-size: 0.7em;
}

/* Normal text style(including code) */
p, pre, ol, ul, table{
    color: rgb(252, 232, 195);
    font-size: 1.25em;
    font-family: Iosevka, monospace;
}

/* Better anchor tags */
a{
    color: inherit;
}

#content a:visited {
    color: rgb(251, 184, 41);
}

a:hover{
    color: #028090;
}

/* Force footer to bottom and center */
#postamble{
    text-align: center;
    width: 100%;
}

#postamble > p{
    display: inline;
}

header > h1 > a {
    text-decoration: none;
}

nav > ul {
    list-style: none;
    padding: 0;
}

nav > ul > li {
    display: inline;
}

li > i {
    padding-left: .5em;
}

/* Responsive images */
img{
    max-width: 100%;
    height: auto;
}

/* Responsive code blocks and tables */
pre, .outline-text-2, .outline-text-3, outline-text-4{
    max-width: 100%;
    overflow-x: auto;
}

pre {
    margin: 0;
}

/* Code blocks */
.org-keyword{
    color: #028090;
}

.org-rainbow-delimiters-depth-1{
    color: #028090;
}

.org-org-meta-line{
    color: #028090;
}
blockquote{
    border-left:5px solid #028090;
    padding-left: 10px;
}

.todo{
    color: red;
}

.done{
    color: #028090;
}

.org-src-container{
    background-color: rgb(45, 44, 41);
    padding: 1em;
}

code {
    background-color: rgb(45, 44, 41);
    padding: 0 0.5em;
}

/* Responsive content positioning */
@media only screen and (min-width: 750px) /* Large screens */
{
    body{
        padding: 2vh 20vw;
    }
    
    header,
    footer {
	padding: 2em 0;
    }
}

@media only screen and (max-width: 750px) /* Small screens */
{
    body{
	padding: 2vh 5vw;
    }

    header,
    footer {
	padding: 1em 0;
    }
}
